@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: clip;
  font-family: 'Figtree', sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}


.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
